<section class="bg-primary hiro-section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex flex-column justify-content-center wow fadeInUp">
        <h2 class="section-title mb-3">Digital Product Design</h2>
        <p class="section-text-ct">We take products through every stage necessary for their creation – Product Discovery, Business and User Research, UX/UI Design, Prototyping, Usability Testing, and future Product Improvements.</p>
      </div>
      <div class="col-md-6 wow fadeInUp">
        <img src="assets/images/img_3.png" class="w-100 mb-5" alt="Digital Product Design">
        <p class="section-text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <button class="hiro-btn-outline button-over-zoom">VIEW MORE</button>
      </div>
    </div>
  </div>
</section>
