<section class="bg-primary hiro-section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex flex-column justify-content-center wow fadeInUp">
        <h2 class="section-title mb-3">{{"BLOCK_ONE.FIRST_SENTENCE" |translate}}</h2>
        <p class="section-text-ct">{{"BLOCK_ONE.SECOND_SENTENCE" |translate}}</p>
      </div>
      <div class="col-md-6 wow fadeInUp">
        <img src="assets/images/img_3.png" class="w-100 mb-5" alt="Digital Product Design">
        <p class="section-text-light">{{"BLOCK_ONE.THIRD_SENTENCE" |translate}}</p>
        <a target="_blank" href="https://wa.me/34645356542" class="hiro-btn-outline button-over-zoom">{{"GENERAL.VIEW_MORE" |translate}}</a>
      </div>
    </div>
  </div>
</section>
