<footer class="hiro-footer wow fadeInUp">
  <div class="container d-flex flex-wrap justify-content-lg-between align-items-center">
    <p class="mb-0 footer-text">© <a href="https://www.bootstrapdash.com" target="_blank" rel="noopener noreferrer" class="text-reset">BootstrapDash</a> 2020. All rights reserved.</p>
    <nav class="footer-nav nav">
      <a href="#!" class="nav-link">Terms and Conditions</a>
      <a href="#!" class="nav-link">Privacy Policy</a>
      <a href="#!" class="nav-link">Cookie Policy</a>
    </nav>
  </div>
</footer>
