<header class="hiro-header home-header" id="top">
  <nav>
    <div class="container">
      <div class="hiro-nav">
        <a href="index.html" class="nav-brand">
          <img src="assets/images/logo_letras_blancas.png" width="120px" alt="Hiro" class="logo">
          <img src="assets/images/logo_letras_blancas.png" width="120px" alt="Hiro" class="logo-white">
        </a>
        <ng-container *ngTemplateOutlet="menuRef"></ng-container>
        <button class="hiro-nav-popup-toggle">
          <svg width="20px" height="18px" viewBox="0 0 20 18" version="1.1" xmlns="http://www.w3.org/2000/svg"
               xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Hiro" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="hiro-agency" transform="translate(-964.000000, -37.000000)" fill="#FFFFFF">
                <g id="Menu" transform="translate(964.000000, 37.000000)">
                  <g id="menu">
                    <rect id="Rectangle" fill-rule="nonzero" x="-8.05281767e-14" y="7.50795322" width="19.9609942"
                          height="2.4951462"></rect>
                    <rect id="Rectangle" fill-rule="nonzero" x="-8.05281767e-14" y="14.9964327" width="19.9609942"
                          height="2.4951462"></rect>
                    <rect id="Rectangle" fill-rule="nonzero" x="-8.05281767e-14" y="0.0194736842" width="19.9609942"
                          height="2.4951462"></rect>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </button>
      </div>
    </div>
  </nav>

  <div [hidden]="!carousel" class="container wow fadeInUp">
    <div id="hiroHeaderCarousel" class="hiro-header-carousel carousel slide" data-ride="carousel" data-interval="20000">
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-12">
              <h1  *ngIf="data?.title"  class="carousel-item-title" data-animation="animated fadeInRight" data-number="01">
                <span [innerHTML]="data?.title| translate"></span></h1>
              <h1  *ngIf="!data?.title"  class="carousel-item-title" data-animation="animated fadeInRight" data-number="01">
                <span [innerHTML]="'SECTION_ONE.FIRST_SENTENCE' | translate"></span></h1>
              <div *ngIf="content?.firstSecond" [@swipe]>
                <p #textContent id="read-more-1" *ngIf="data?.text" class="carousel-item-description" [innerHTML]="data?.text |translate"
                   data-animation="animated fadeInRight">
                </p>
                <p #textContent id="read-more" *ngIf="!data?.text" class="carousel-item-description" [innerHTML]="content?.firstSecond"
                   data-animation="animated fadeInRight">
                </p>
                <div class="read-more-link">
                  <a >
                               <span class="carousel-item-link link-hover-fx less"
                                     data-animation="animated fadeInRight">
<!--                         {{"GENERAL.VIEW_LESS" |translate}}-->
                    </span>
                    <span class="carousel-item-link link-hover-fx more" data-animation="animated fadeInRight">
<!--                         {{"GENERAL.VIEW_MORE" |translate}}-->
                    </span>
                  </a>
                </div>
              </div>

              <ul class="carousel-item-social-links nav mt-4" data-animation="animated fadeInRight">

              </ul>
            </div>


          </div>

        </div>

      </div>
    </div>
  </div>
</header>
<div class="hiro-nav-popup-modal">
  <div class="hiro-nav-popup-modal-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 menu-wrapper">
          <ul class="nav hiro-main-nav">
            <li class="nav-item">
              <a (click)="clickLink()" [routerLink]="['/']" fragment="one" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a (click)="clickLink()" [routerLink]="['/']" fragment="two" class="nav-link">Services</a>
            </li>
            <li class="nav-item">
              <a (click)="clickLink()" [routerLink]="['/']" fragment="three" class="nav-link">Works</a>
            </li>
            <li class="nav-item">
              <a (click)="clickLink()" [routerLink]="['/']" fragment="forth" class="nav-link">Contact</a>
            </li>
          </ul>
        </div>
        <!--        <div class="col-md-6 blog-posts text-white">-->
        <!--          <h5 class="popup-blog-headng">Blog</h5>-->
        <!--          <div class="media mb-4">-->
        <!--            <img src="assets/images/Blog_small2.jpg" alt="blog" width="86px" class="img-fluid mr-4">-->
        <!--            <div class="media-body align-self-end">-->
        <!--              <h5 class="popup-blog-post-title">Ambitious <br> designs</h5>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--          <div class="media mb-4">-->
        <!--            <img src="assets/images/Blog_small1.jpg" alt="blog" width="86px" class="img-fluid mr-4">-->
        <!--            <div class="media-body align-self-end">-->
        <!--              <h5 class="popup-blog-post-title">The Collection <br> Cover Archive</h5>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--          <p><a href="blog.html" class="text-white link-hover-fx text-decoration-none" class="font-weight-medium">View-->
        <!--            more</a></p>-->
        <!--        </div>-->
      </div>
    </div>
  </div>
</div>


<ng-template #menuRef>
  <div class="w-100">
    <ul class="list-unstyled h-100 align-items-center align-content-center m-0 p-0 wrapper-menu pl-3 pr-3">
      <li [routerLink]="item?.route" class="item-menu" *ngFor="let item of menu">
        {{item?.label | translate }}
      </li>
    </ul>
  </div>
</ng-template>
