<div class="row m-0 p-0 col-12">
  <div class="col-8 p-4">
    <h3>MEMBRESÍA PERSONAL FREE</h3>
    <h6>SOMOS TU ENLACE CON CHINA </h6>
    <div>
      <p class="content-text">
        Realizamos la compra por el cliente nosotros cotizamos el producto de tu
        preferencia que podrás ver en nuestro catálogo y compramos por ti,
        hacemos la gestión de empaquetado y logística de envío a tu país por medio
        de correo nacional o Courier privado de aseguraremos de que la calidad sea
        siempre la mejor con la supervisión y seguimiento que conlleva nuestros
        lazos con los fabricantes Chinos 
      </p>
      <div class="content-list">
        <ul>
          <li>Lorem ipsum dolor.</li>
          <li>Lorem ipsum dolor.</li>
          <li>Lorem ipsum dolor.</li>
          <li>Lorem ipsum dolor.</li>
          <li>Lorem ipsum dolor.</li>
          <li>Lorem ipsum dolor.</li>
          <li>Lorem ipsum dolor.</li>
          <li>Lorem ipsum dolor.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-4 section-image">
<!--    <ng-lottie-->
<!--      width="200px"-->
<!--      height="200px"-->
<!--      [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>-->
  </div>

</div>
