.service-section {
  padding-right: 0 !important;
}

.service-section:after, .service-section:before {
  display: none;
}

.answer {
  padding: 0.5rem .5rem 2rem;
}

.question {
  cursor: pointer;
  margin-bottom: .5rem;
  padding: 0.5rem 0rem .35rem;
}
.faq-section{
  background-color: #fbfbfb;
}
