<app-header id="header"></app-header>

<app-light-component
  [color]="'rgb(237, 248, 255)'" [data]="dataTwo">
</app-light-component>


<app-light-component
   [color]="'rgb(255, 153, 146)'"
  [data]="dataThree">
</app-light-component>


<app-light-component
   [color]="'#c8d6e5'"
  [data]="dataFour">
</app-light-component>
<!--&lt;!&ndash; SECTION ONE &ndash;&gt;-->
<!--<app-section-one id="one"></app-section-one>-->

<app-section-two></app-section-two>
<!--<app-section-product id="products"></app-section-product>-->


<!--&lt;!&ndash; FAQ &ndash;&gt;-->


<!--&lt;!&ndash; SECTION THREE &ndash;&gt;-->
<app-section-three id="three"></app-section-three>
<!--&lt;!&ndash; SECTION PRODUCT &ndash;&gt;-->


<app-light-component [data]="dataFive"></app-light-component>

<!--&lt;!&ndash; SECTION FOURTH &ndash;&gt;-->

<app-faq id="faq"></app-faq>
<!--&lt;!&ndash; FOOTER &ndash;&gt;-->
<app-section-fourth id="forth"></app-section-fourth>
<app-footer></app-footer>
