<section>

  <!--  <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>-->
  <div class="products row m-0 d-flex col-12 p-0" [photoGalleryGroup]="{ arrowEl: true, indexIndicatorSep: ' - ' }">
    <div class="products-item col-2 p-0" *ngFor="let a of [1,1,1,1,1,1,1,1,1,1,1,1]">
      <div class="products-item-name">tttttt</div>
      <div class="products-item-image"
           [photoGallery]="'https://farm4.staticflickr.com/3894/15008518202_c265dfa55f_h.jpg'">
        <img [src]="'http://photo.yupoo.com/424334770/335b844a/small.jpeg'"/>
      </div>
    </div>
  </div>

</section>
