<section class="hiro-section" id="services">
  <div class="container">
    <div class="service-section">
      <h2 class="section-title career-section-title">{{ "BLOCK_SERVICES.TITLE" | translate}}</h2>
      <div class="row">
        <div class="col-md-4 mb-4 mb-md-0 wow fadeInUp">
          <h6 class="service-category-title">{{"BLOCK_SERVICES.FIRST_PLAN.TITLE" | translate}}</h6>
          <ul class="service-list list-group list-group-flush">
            <li class="list-group-item">{{"BLOCK_SERVICES.FIRST_PLAN.CONTENT.ONE" | translate}}</li>
            <li class="list-group-item">{{"BLOCK_SERVICES.FIRST_PLAN.CONTENT.TWO" | translate}}</li>
            <li class="list-group-item">{{"BLOCK_SERVICES.FIRST_PLAN.CONTENT.THREE" | translate}}</li>
          </ul>
        </div>
        <div class="col-md-4 mb-4 mb-md-0 wow fadeInUp">
          <h6 class="service-category-title">{{"BLOCK_SERVICES.SECOND_PLAN.TITLE" | translate}}</h6>
          <ul class="service-list list-group list-group-flush">
            <li class="list-group-item">{{"BLOCK_SERVICES.SECOND_PLAN.CONTENT.ONE" | translate}}</li>
            <li class="list-group-item">{{"BLOCK_SERVICES.SECOND_PLAN.CONTENT.TWO" | translate}}</li>
            <li class="list-group-item">{{"BLOCK_SERVICES.SECOND_PLAN.CONTENT.THREE" | translate}}</li>
          </ul>
        </div>
        <div class="col-md-4 mb-4 mb-md-0 wow fadeInUp">
          <h6 class="service-category-title">{{"BLOCK_SERVICES.THREE_PLAN.TITLE" | translate}}</h6>
          <ul class="service-list list-group list-group-flush">
            <li class="list-group-item">{{"BLOCK_SERVICES.THREE_PLAN.CONTENT.ONE" | translate}}</li>
            <li class="list-group-item">{{"BLOCK_SERVICES.THREE_PLAN.CONTENT.TWO" | translate}}</li>
            <li class="list-group-item">{{"BLOCK_SERVICES.THREE_PLAN.CONTENT.THREE" | translate}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
