<section class="hiro-section" id="services" [style.backgroundColor]="color">
  <div class="container">
    <div class="service-section">
      <h2 *ngIf="!section" class="section-title career-section-title">{{ "BLOCK_SERVICES.TITLE" | translate}}</h2>
<!--      <div *ngIf="!section" class="service-section">-->
<!--        <h4 class="section-title-sub career-section-title mb-4">{{'SERVICES.FIRST.TITLE' | translate}}</h4>-->
<!--        <div class="row">-->
<!--          <div class="col-md-12 mb-4 mb-md-0 wow fadeInUp">-->
<!--            <div class="d-flex justify-content-between mb-0">-->

<!--              <p [innerHTML]="'SERVICES.FIRST.CONTENT' | translate"></p>-->
<!--            </div>-->
<!--            <div class="list-check pb-2">-->
<!--              <ul class="">-->
<!--                <li class="pb-2" *ngFor="let list of checkList">-->
<!--                  <fa-icon [icon]="faCheck"></fa-icon>-->
<!--                  <span class="pl-2" [innerHTML]="list"></span>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="d-flex mt-2">-->
<!--              <a target="_blank" class="text-black" [href]="'GENERAL.WS' | translate">-->
<!--                <span class="pr-2" [innerHTML]="'GENERAL.GENERAL_PRODUCTS_WS' | translate"></span>-->
<!--                <fa-icon [icon]="faWhatsapp" size="lg"></fa-icon><b class="ml-1" [innerHTML]="'GENERAL.CLICK_WS' | translate"></b>-->
<!--              </a>-->
<!--            </div>-->
<!--            <div class="text-center">-->
<!--              <br>-->
<!--              <br>-->
<!--              <b>{{'BLOCK_PRODUCTS.SUB_TITLE'| translate}}</b><br>-->
<!--              <app-section-product></app-section-product>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

      <div *ngIf="section" class="service-section">
<!--        <h4 class="section-title-sub career-section-title mb-4">-->
<!--          {{'SERVICES.SECOND.TITLE' | translate}}</h4>-->
        <div class="row">
          <div class="col-md-12 mb-4 mb-md-0 wow fadeInUp">
            <div class="row mt-4">
              <div class="col-md-4 mb-3 mb-md-0 wow fadeInUp plan plan-free">
                <h6 class="service-category-title text-center w-100"
                    [innerHTML]="'BLOCK_SERVICES.FIRST_PLAN.TITLE' | translate"></h6>
                <p [innerHTML]="'BLOCK_SERVICES.FIRST_PLAN.CONTENT.ONE' | translate"></p>
              </div>
              <div class="col-md-4 mb-3 mb-md-0 wow fadeInUp plan plan-free">
                <h6 class="service-category-title text-center w-100"
                    [innerHTML]="'BLOCK_SERVICES.SECOND_PLAN.TITLE' | translate"></h6>
                <p [innerHTML]="'BLOCK_SERVICES.SECOND_PLAN.CONTENT.ONE' | translate"></p>
              </div>
              <div class="col-md-4 mb-3 mb-md-0 wow fadeInUp plan plan-free">
                <h6 class="service-category-title text-center w-100"
                    [innerHTML]="'BLOCK_SERVICES.THREE_PLAN.TITLE' | translate"></h6>
                <p [innerHTML]="'BLOCK_SERVICES.THREE_PLAN.CONTENT.ONE' | translate"></p>
              </div>

            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
