<app-header [carousel]="false" id="header"></app-header>
<div class="container mt-4 p-4">
  <markdown class="variable-binding" [data]="single.data"></markdown>
</div>
<!-- SECTION ONE -->
<!--<app-section-one id="one"></app-section-one>-->

<!--&lt;!&ndash; SECTION TWO &ndash;&gt;-->
<!--<app-section-two id="two"></app-section-two>-->
<!--&lt;!&ndash; FAQ &ndash;&gt;-->
<!--&lt;!&ndash;<app-section-two id="two"></app-section-two>&ndash;&gt;-->

<!--&lt;!&ndash; SECTION THREE &ndash;&gt;-->
<!--<app-section-three id="three"></app-section-three>-->

<!-- SECTION FOURTH -->

<app-section-fourth id="forth"></app-section-fourth>

<!-- FOOTER -->
<app-footer></app-footer>
